* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Dongle", sans-serif;
  font-size: 24px;
}

/* background-bg */
.bg-img {
  background-image: url("../public/img/main-bg.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

/* title */
.title {
  padding-top: 5%;
  text-align: center;
  font-size: 80px;
  color: #f5f5f5;
  font-family: "Dongle", sans-serif;
}

/* Login Form */
.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 250px;
  padding: 10px;
}
.form .form-header {
  height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
}
.form .form-header > div {
  width: calc(100% / 2);
  color: #ddd;
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
}
.form.signup .form-header div.show-signup {
  color: #0b4472;
}
.form.signin .form-header div.show-signin {
  color: #0b1a72;
}

.form .form-elements {
  margin-top: 15px;
}
.form .form-elements .form-element {
  height: 62px;
  opacity: 1;
  overflow: hidden;
  transition: all 500ms ease-in-out;
}
.form .form-elements input {
  width: 100%;
  padding: 10px;
  font-size: 24px;
  margin: 5px 0px;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid #222;
  background: #f5f5f5;
}
.form .form-elements button {
  width: 100%;
  padding: 10px;
  font-size: 24px;
  font-weight: 600;
  margin-top: 5px;
  border-radius: 10px;
  background: #203de2;
  color: #f5f5f5;
  cursor: pointer;
  border: none;
  outline: none;
}
.form .arrow {
  position: absolute;
  top: 51px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f5f5f5;
}
.form.signup .arrow {
  left: calc(calc(100% / 2) / 2.1);
}
.form.signin .arrow {
  left: calc(calc(100% / 2) + calc(calc(100% / 2) / 2.3));
}

.form.signin .form-elements > div:nth-child(3),
.form.signin .form-elements > div:nth-child(4),
.form.signin .form-elements > div:nth-child(5) {
  height: 0px;
  opacity: 0;
}

#signin-submit-btn {
  display: none;
}

/* 네비바 */
.nav-bar {
  background: rgb(61, 135, 196);
  width: 100%;
  color: white;
  padding: 20px;
}

.menu {
  display: flex;
  justify-content: center;
}

.menu-list {
  width: 100%;
}

.menu-list button {
  padding-left: 5px;
  padding-right: 5px;
}

.board-container {
  padding: 30px;
}

/* 모달창 */
.outer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%; /*100%*/
  width: 100%; /*100%*/
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.inner {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 30%;
  height: 50%;
  border: 2px solid #000;
  background-color: #fff;
}

/* 보드 생성 모달 */
.create-board-form {
  padding: 40px;
}

.create-board-form legend {
  font-size: 40px;
  text-align: center;
}

.create-board-form p,
.create-board-form input {
  margin-left: 50px;
}

.create-board-form p {
  font-size: 35px;
}

.board-create-btn {
  display: block;
  margin: 0 auto;
}

/* 보드 */
.board-description {
  font-size: 50px;
}

/* 컬럼 */
.column-container {
  display: flex;
}

.column {
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid #000;
  padding: 10px;
}

.column-list {
  width: 300px;
}

/* card-create-btn */
.card-create-btn {
  margin-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

/* card */
.card {
  border: 1px solid #000;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-left: 10px;
}
